.content{width:1350px;}
#top{margin-left:200px;padding-top:20px;}
#top textarea{font-color:rgb(51, 153, 255);}
.sidebar{
	float:right;
	margin-right:200px;
	}
.content a:link{color:rgb(51, 153, 255); text-decoration:none;}
.content a:visited{background-color:rgb(243, 255, 204);color:rgb(51, 153, 255); text-decoration:none;}
.content a:hover{background-color:rgb(243, 255, 204);color:rgb(51, 153, 255); text-decoration:none;}
.sort{border-bottom-style:solid;}
.rank{border-bottom-style:solid;}
.sort li{display:inline;list-style:none;padding-right:10px;}
.rank li{list-style:decimal;}

.main{margin-left:200px;font-size:80%;width:600px;font-size:120%;}
.status{border-bottom-style:solid;list-style:none;}
.user{float:left;padding-right:350px;}