#userInfo{margin-left:200px;width:950px;}

.booklist{margin-left:200px;width:900px;height:200px;}
.book{list-style:none;float:left;padding-left:20px;}

a:link{color:rgb(51, 153, 255); text-decoration:none;}
a:visited{background-color:rgb(243, 255, 204);color:rgb(51, 153, 255); text-decoration:none;}
a:hover{background-color:rgb(243, 255, 204);color:rgb(51, 153, 255); text-decoration:none;}

.statuslist{margin-left:200px;width:900px;height:200px;padding-top:50px;}
.status{list-style:none;padding-bottom:20px;padding-left:20px;}