<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyWeb</display-name>
  <servlet>
    <servlet-name>StatusRecognise</servlet-name>
    <servlet-class>servlet.StatusRecognise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusRecognise</servlet-name>
    <url-pattern>/StatusRecognise</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>servlet.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowBook</servlet-name>
    <servlet-class>servlet.ShowBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBook</servlet-name>
    <url-pattern>/ShowBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>servlet.AddComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/AddComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyApproveNum</servlet-name>
    <servlet-class>servlet.ModifyApproveNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyApproveNum</servlet-name>
    <url-pattern>/ModifyApproveNum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyReadNum</servlet-name>
    <servlet-class>servlet.ModifyReadNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyReadNum</servlet-name>
    <url-pattern>/ModifyReadNum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonalInfo</servlet-name>
    <servlet-class>servlet.PersonalInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalInfo</servlet-name>
    <url-pattern>/PersonalInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogOff</servlet-name>
    <servlet-class>servlet.LogOff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOff</servlet-name>
    <url-pattern>/LogOff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowUser</servlet-name>
    <servlet-class>servlet.ShowUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUser</servlet-name>
    <url-pattern>/ShowUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchBook</servlet-name>
    <servlet-class>servlet.SearchBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBook</servlet-name>
    <url-pattern>/SearchBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookClassify</servlet-name>
    <servlet-class>servlet.BookClassify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookClassify</servlet-name>
    <url-pattern>/BookClassify</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>