<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyWeb</display-name>
  <servlet>
    <servlet-name>StatusRecognise</servlet-name>
    <servlet-class>servlet.StatusRecognise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusRecognise</servlet-name>
    <url-pattern>/StatusRecognise</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>servlet.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowBook</servlet-name>
    <servlet-class>servlet.ShowBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBook</servlet-name>
    <url-pattern>/ShowBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBookComment</servlet-name>
    <servlet-class>servlet.AddBookComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookComment</servlet-name>
    <url-pattern>/AddBookComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyBookApproveNum</servlet-name>
    <servlet-class>servlet.ModifyBookApproveNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyBookApproveNum</servlet-name>
    <url-pattern>/ModifyBookApproveNum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyReadNum</servlet-name>
    <servlet-class>servlet.ModifyReadNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyReadNum</servlet-name>
    <url-pattern>/ModifyReadNum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonalInfo</servlet-name>
    <servlet-class>servlet.PersonalInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalInfo</servlet-name>
    <url-pattern>/PersonalInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogOff</servlet-name>
    <servlet-class>servlet.LogOff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOff</servlet-name>
    <url-pattern>/LogOff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowUser</servlet-name>
    <servlet-class>servlet.ShowUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUser</servlet-name>
    <url-pattern>/ShowUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookClassify</servlet-name>
    <servlet-class>servlet.BookClassify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookClassify</servlet-name>
    <url-pattern>/BookClassify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStatus</servlet-name>
    <servlet-class>servlet.AddStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStatus</servlet-name>
    <url-pattern>/AddStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFilmComment</servlet-name>
    <servlet-class>servlet.AddFilmComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFilmComment</servlet-name>
    <url-pattern>/AddFilmComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FilmClassify</servlet-name>
    <servlet-class>servlet.FilmClassify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmClassify</servlet-name>
    <url-pattern>/FilmClassify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyFilmApproveNum</servlet-name>
    <servlet-class>servlet.ModifyFilmApproveNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyFilmApproveNum</servlet-name>
    <url-pattern>/ModifyFilmApproveNum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyWatchNum</servlet-name>
    <servlet-class>servlet.ModifyWatchNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyWatchNum</servlet-name>
    <url-pattern>/ModifyWatchNum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowFilm</servlet-name>
    <servlet-class>servlet.ShowFilm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFilm</servlet-name>
    <url-pattern>/ShowFilm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteStatus</servlet-name>
    <servlet-class>servlet.DeleteStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStatus</servlet-name>
    <url-pattern>/DeleteStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteBookFromRead</servlet-name>
    <servlet-class>servlet.DeleteBookFromRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookFromRead</servlet-name>
    <url-pattern>/DeleteBookFromRead</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFilmFromWatch</servlet-name>
    <servlet-class>servlet.DeleteFilmFromWatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFilmFromWatch</servlet-name>
    <url-pattern>/DeleteFilmFromWatch</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>400</error-code>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NullPointerException </exception-type>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>